<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Панель администратора магазина</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li class="active">
        <a href="/">Главная</a>
      </li>

      <li>
        <a href="/product">Товары</a>
      </li>
      <li>
        <a href="/addproduct">Добавить товар</a>
      </li>
    </ul>
  </div>
</nav>