<h1>Все товары</h1>

<p>1</p>
<p>1</p>
<p>1</p>

<p>это тест по вставке переменной title_1 = {{title_1}}</p>  
<h5>{{title_1}}</h5>
<p>
    res.render('products', {
    title_1: 'Товары',
    isCourses: true
  }) //  файл routers/shop.ts
</p>