<h1>Все курсы</h1>
<p>1</p>
<p>1</p>
<p>1</p>

<p>это тест по вставке переменной title_1 = {{title_1}}</p>  
<h5>{{title_1}}</h5>
<p>
    res.render('courses', {
    title_1: 'Курсы',
    isCourses: true
  }) //  файл router_contents.ts
</p>